html{height:100%;}
body{font:100 2.5rem Trebuchet,sans-serif;
 margin:0;
 background:radial-gradient(#999, #777);
 color:#222;
}
.centered{
 position:absolute;
 left:0;
 right:0;
 margin:auto;
}
#app{
 position:absolute;
}
#hud{
 display:flex;
 position:absolute;
 visibility:hidden;
}
#ui{
 display:flex;
 flex-direction:column;
 height:100vh;
}
#mainmenu,#pausemenu{
 display:flex;
 max-width:10em;
 top:10vh;
 flex-direction:column;
}
#title{
 margin:3.5rem auto;
 transform:scaleY(1.3);
}
#subtitle{
 margin:3.5rem auto;
 transform:scaleY(1.1);
}
#text{
 color:#ccc;
 background:#222;
 margin:2rem auto;
}
#button,#backbutton,#pausebutton{
 background:#ccc;
 cursor:pointer;
 margin:1rem auto;
 padding:10px;
 transition:0.3s;
}
#button:hover,#level:hover,#backbutton:hover,#pausebutton:hover{
 background:#333;
 color:#6fc;
 transform:scale(1.1);
}
#button:active,#level:active,#backbutton:active{
 color:#ecf;
 transform:scale(0.9);
}
#backbutton{
 padding:0 20px;
 margin-left:0;
}
#pausebutton{
 width:50px;
 text-align:center;
}
#levelsgrid{
 max-width:13em;
 display:grid;
 grid-gap:10px;
 grid-template-columns:repeat(4,1fr);
}
@media(max-width:540px){
 #levelsgrid{
 grid-template-columns:repeat(3,1fr);
 }
}
#level{
 background:#ccc;
 cursor:pointer;
 text-align:center;
 padding:50px;
 align-self:center;
 transition:0.3s;
}

.fadein{animation:0.7s ease fadein}
@keyframes fadein{from{opacity:0}to{opacity:1}}
.fadeout{animation:0.9s ease fadeout}
@keyframes fadeout{to{opacity:0}}
.zoomin{animation:1s ease zoomin}
@keyframes zoomin{to{transform:scale(3);opacity:0}}
