body {
 font: 100 2.5em Trebuchet, sans-serif;
 margin: 0;
 background: #222;
}
.c {
 left: 0;
 right: 0;
 margin: auto;
}
#app {
 position: absolute;
}
#ui {
 position: absolute;
 display: flex;
 flex-direction: column;
 height: 100%;
}
#t {
 color: #ccc;
}
#p {
 background: #ccc;
 cursor: pointer;
}
