body {
 font: 100 2.5em Trebuchet, sans-serif;
 margin: 0;
 background: #222;
}
.c {
 left: 0;
 right: 0;
 margin: auto;
}
#app {
 position: absolute;
}
#ui {
 position: absolute;
 display: flex;
 flex-direction: column;
 height: 100%;
}
#t {
 color: #ccc;
 background: #222;
 margin: 2em auto;
}
#b {
 background: #ccc;
 cursor: pointer;
 margin: 1em auto;
}
#g {
 display: grid;
 grid-gap: 50px;
 grid-template-rows: auto;
 grid-template-columns: auto;
}
#l {
 background: #ccc;
 cursor: pointer;
 text-align: center;
}
